/* font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #607d69;
    /* background-color: #4d3348; */
    /* background-color: #333; */
    height: 100vh;
}

marquee {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.info {
    margin: 2rem 2rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

h3,
th,
a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}

td {
    font-family: 'Poppins', sans-serif;

}

.text {
    margin-left: 2rem;
}

.text p {
    font-size: 0.9rem;
}

.academic {
    margin: 2rem;
}

.links {
    margin: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    
}


@media only screen and (max-width: 768px) {
    footer {
        position: relative;
    }
}