 /* body{
   background-color: white;
}  */

fieldset{
    /* background-image: linear-gradient(pink,blue); */
    
    background-color: antiquewhite;
}

#description{
    text-align: center;
}

h1{
    text-align: center;
    font-style: italic;
    
}